@use '@angular/material' as mat;

:host {
  width: 1700px;
  display: grid;
  grid-template-columns: 1000px 600px;
  grid-gap: 100px;
  padding: 20px 24px 24px 34px;

  ::ng-deep .mdc-text-field {
    padding: 0 10px 0 0;
  }

  ::ng-deep .mdc-text-field--no-label .mat-mdc-form-field-infix {
    padding-top: var(--mat-form-field-container-vertical-padding, 16px);
    padding-bottom: var(--mat-form-field-container-vertical-padding, 5px);
  }

  .mat-mdc-form-field {
    width: 350px;
    height: 65px;
  }

  .mat-mdc-fab {
    color: #ffffff;
  }

  .mat-mdc-extended-fab {
    width: 150px;
  }

  @include mat.form-field-overrides((
    state-layer-color: transparent,
    filled-active-indicator-height: 1px,
    filled-focus-active-indicator-height: 1px,
    filled-container-color: transparent,
    container-height: 45px,
    filled-caret-color: #FFFFFF,
    filled-input-text-color: #FFFFFF,
  ));

  @include mat.fab-overrides((
    container-color: #5f00c0,
  ));
}

.date-table {
  width: 1000px;
  grid-column: 1/2;
}

.profile-form {
  height: 820px;
  width: 600px;
  display: grid;
  justify-self: center;
  grid-column: 2/3;
  grid-gap: 20px;
  padding: 16px 20px 0 20px;
  background: var(--dark-color);
  border: 1px solid var(--light-color);
}

.tt_form_label {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tt_form_label_select {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile__btn {
  margin-top: 200px;
  display: flex;
  gap: 0.5rem;
}

.custom_text {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  font-family: "JetBrains Mono", 'sans-serif';
  color: var(--light-color);
}

input.mat-mdc-form-field-input-control::placeholder {
  color: rgba(255, 255, 255, 0.4) !important;
}


