<div class="date-table" @tableFadeIn>
  <app-dates-change-table [formInputData]="relatedDates"
                          [(childFormStatus)]="childFormStatus"
                          [(lengthNotZero)]="lengthNotZero"
                          (childFormDataPush)="onChildFormDataChange($event)">
  </app-dates-change-table>
</div>

<form class="profile-form" *ngIf="form" [formGroup]="form" @tableFadeIn>

  <div class="tt_form_label">
    <span class="tt_form_label-text">ФИО</span>
    <mat-form-field class="custom_text">
      <input matInput placeholder="Введите имя" formControlName="full_name">
    </mat-form-field>
  </div>

  <div class="tt_form_label">
    <span class="tt_form_label-text">Страна</span>
    <mat-form-field>
      <mat-select formControlName="country" placeholder="Выберите страну" class="custom_text">
        <mat-option value="UKR">Украина</mat-option>
        <mat-option value="MLD">Молдова</mat-option>
        <mat-option value="UZB">Узбекистан</mat-option>
        <mat-option value="NIP">Не в программе</mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <label class="tt_form_label">
    <span class="tt_form_label-text">Аватар</span>
    <app-avatar-upload (moveAvatarToParent)="parentFillAvatarField($event)"
                       [avatarUrl]="fileUrl()">
    </app-avatar-upload>
  </label>

  <div class="profile__btn">
      <button mat-fab extended
              (click)="returnBack()">
        <mat-icon>arrow_back</mat-icon>
        Назад
      </button>
      <button mat-fab extended
              [disabled]="form.invalid || childFormStatus || lengthNotZero"
              (click)="onSubmit()">
        Сохранить
      </button>
    </div>
</form>
