
  <div class="date-table">
    <app-dates-change-table [formInputData]="relatedDates"
                            [(childFormStatus)]="childFormStatus"
                            [(lengthNotZero)]="lengthNotZero"
                            (childFormDataPush)="onChildFormDataChange($event)">
    </app-dates-change-table>
  </div>

  <form class="profile-form" *ngIf="form" [formGroup]="form">

    <div class="tt_form_label">
      <span class="tt_form_label-text">ФИО</span>
      <input
        appFocusInteraction
        formControlName="full_name"
        type="text"
        placeholder="Введите имя"
        class="custom_input"
      />
    </div>

    <div class="tt_form_label_select">
      <span class="tt_form_label-text">Страна</span>
      <mat-form-field>
        <mat-select formControlName="country" placeholder="Выберите страну" class="custom_text">
          <mat-option value="UKR">Украина</mat-option>
          <mat-option value="MLD">Молдова</mat-option>
          <mat-option value="UZB">Узбекистан</mat-option>
          <mat-option value="NIP">Не в программе</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <label class="tt_form_label">
      <span class="tt_form_label-text">Аватар</span>
      <app-avatar-upload (moveAvatarToParent)="parentFillAvatarField($event)"
                         [avatarUrl]="fileUrl()">
      </app-avatar-upload>
    </label>

    <div class="profile__btn">
      <button mat-fab extended
              (click)="returnBack()">
        <mat-icon>arrow_back</mat-icon>
        Назад
      </button>
      <button mat-fab extended
              [disabled]="form.invalid || childFormStatus || lengthNotZero"
              (click)="onSubmit()">
        Сохранить
      </button>
    </div>
  </form>

