# Ignore media and static files
backend/media/
backend/static/
.idea
venv
backend/.env

# Ignore Python cache and compiled files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.Python

# Ignore all files in the migrations folder
backend/duration/migrations/*
# But keep the __init__.py file
!/backend/duration/migrations/__init__.py


# Ignore frontend build artifacts
frontend/**/dist/
frontend/**/tmp/
frontend/**/out-tsc/
frontend/**/bazel-out/
frontend/**/.angular/

# Ignore Node.js dependencies and logs
frontend/**/node_modules
frontend/**/npm-debug.log
frontend/**/yarn-error.log

# Ignore system and editor-specific files
**/.DS_Store
**/Thumbs.db
**/.idea/
**/.vscode/
**/*.sublime-workspace
**/.project
**/.classpath
**/.settings/
**/.c9/
**/*.launch
frontend/**/.history/

# Ignore VSCode settings files
frontend/**/.vscode/settings.json
frontend/**/.vscode/tasks.json
frontend/**/.vscode/launch.json
frontend/**/.vscode/extensions.json

# Ignore miscellaneous files
frontend/**/connect.lock
frontend/**/coverage/
frontend/**/libpeerconnection.log
frontend/**/testem.log
frontend/**/typings/

# Ignore Git-related files
.git/
.github/

