@use '@angular/material' as mat;

mat-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  @include mat.progress-bar-overrides((
    active-indicator-color: blue,
  ));

}

mat-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 50px;
  z-index: 100;
  background: transparent;

  @include mat.button-overrides((
    filled-state-layer-color: #FFFFFF,
  ));
}

mat-toolbar button mat-icon {
  font-size: 26px;
  width: 26px;
  height: 26px;
  line-height: 26px;
}


.icon-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.text {
  font-size: 21px;
  font-family: 'JetBrains Mono Bold', 'sans-serif';
  color: var(--light-color);
}

.margin-top {
  margin-top: 60px;
}


