@use '@angular/material' as mat;

:host {
  display: block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  url("../../../../../public/assets/images/duration.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;

  @include mat.button-overrides((
    filled-state-layer-color: #FFFFFF,
  ));
}


//mat-toolbar {
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 150px;
//  height: 50px;
//  z-index: 100;
//  background: transparent;
//
//}

mat-toolbar button mat-icon {
  font-size: 26px;
  width: 26px;
  height: 26px;
  line-height: 26px;
}


.icon-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.text {
  font-size: 21px;
  font-family: 'JetBrains Mono Bold', 'sans-serif';
  color: var(--light-color);
}

.margin-top {
  margin-top: 10px;
}


