@use '@angular/material' as mat;

:host {
  // major change this is change bottom && top padding in all Angular material Input fields
  ::ng-deep .mdc-text-field--no-label .mat-mdc-form-field-infix {
    padding-top: var(--mat-form-field-container-vertical-padding, 16px);
    padding-bottom: var(--mat-form-field-container-vertical-padding, 5px);
  }

  ::ng-deep .mat-mdc-form-field-icon-suffix {
    align-self: self-end;
  }

  // major change this is change for left && right padding in all Angular material Input field
  ::ng-deep .mdc-text-field {
    padding: 0;
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
    width: 93%;
  }

  @include mat.table-overrides((
    header-headline-color: rgba(255, 255, 255, 0.75),
    header-container-height: 55px,
    header-headline-line-height: 2,
    header-headline-size: 12px,
    row-item-label-text-weight: 500,
    row-item-label-text-font: "JetBrains Mono",
    row-item-outline-width: 1px,
    row-item-outline-color: rgba(255, 255, 255, 0.2),
    row-item-container-height: 72px,
    background-color: #090808,
  ));

  @include mat.form-field-overrides((
    state-layer-color: transparent,
    filled-active-indicator-height: 1px,
    filled-focus-active-indicator-height: 1px,
    filled-container-color: transparent,
    container-height: 45px,
    filled-caret-color: #FFFFFF,
    filled-input-text-color: #FFFFFF,
  ));

  @include mat.select-overrides((
    enabled-trigger-text-color: #FFFF,
    placeholder-text-color: rgba(255, 255, 255, 0.4),
  ));

  @include mat.paginator-overrides((
    container-text-color: #FFFFFF,
    container-background-color: transparent,
  ));

  @include mat.button-overrides((
    filled-container-color: #5f00c0,
    filled-label-text-color: #FFFFFF,
  ));
}

.wrapper {
  padding: 0 20px 10px 20px;
  border: white solid 1px;
  background-color: var(--dark-color);
}

// column width
th.mat-mdc-header-cell.mdc-data-table__header-cell.cdk-header-cell.cdk-column-name.mat-column-name {
  width: 190px;
}

// text color
.mat-mdc-row {
  color: var(--light-color);
}

//// margin between columns
.mdc-data-table__cell:not(:last-child),
.mdc-data-table__header-cell:not(:last-child) {
  padding-right: 30px;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0;
}

.mat-mdc-form-field {
  width: 180px;
}

input.mat-mdc-form-field-input-control::placeholder {
  color: rgba(255, 255, 255, 0.4) !important;
}

.custom_text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-family: "JetBrains Mono", 'sans-serif';
  color: var(--light-color);
}

.left-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.no-track {
  opacity: 0.9;
}

.paginator-button {
  display: flex;
  justify-content: space-between;
}

.entry-date-picker-position {
  position: relative;
}

.entry-date-picker {
  position: absolute;
  top: -11px;
  left: 139px;
}

.exit-date-picker-position {
  position: relative;
}

.exit-date-picker {
  position: absolute;
  top: -11px;
  left: 139px;
}
