@use '@angular/material' as mat;


:host {
  @include mat.paginator-overrides((
    container-text-color: #FFFFF,
    container-background-color: transparent,
    container-text-font: 'JetBrains Mono SemiBold',
    container-text-size: 13px,
  ));
}




