<div class="date-table">
  <app-dates-table
    [(dateFormStatus)]="dateFormStatus"
    [(fullNameIsPassed)]="fullNameIsPassed">
  </app-dates-table>
</div>

<form class="profile-form" *ngIf="form" [formGroup]="form">

  <div class="tt_form_label">
    <span class="tt_form_label-text">ФИО</span>
    <input
      appFocusInteraction
      formControlName="full_name"
      type="text"
      placeholder="Введите имя"
      class="custom_input"
    />
  </div>

  <div class="tt_form_label">
    <span class="tt_form_label-text">Профили</span>
    <app-profile-search-list formControlName="profileName"></app-profile-search-list>
  </div>


  <label class="tt_form_label">
    <span class="tt_form_label-text">Аватар</span>
    <app-avatar-upload (moveAvatarToParent)="parentFillAvatarField($event)"></app-avatar-upload>
  </label>

  <div class="profile__btn">
    <button mat-fab extended
            (click)="onSubmit()"
            [disabled]="form.invalid || dateFormStatus">
      Cоздать
    </button>
    <button mat-fab extended
            (click)="onSubmitAndProceed()"
            [disabled]="form.invalid || dateFormStatus">
      Создать еще
    </button>
  </div>

</form>
