@use '@angular/material' as mat;

:host {
  width: 1721px;
  display: grid;
  grid-gap: 150px;
  grid-template-columns: 921px 600px;
  padding: 20px 24px 24px 34px;

  @include mat.fab-overrides((
    container-color: #5f00c0,
  ));
}

.date-table {
  width: 921px;
  grid-column: 1/2;
}

.profile-form {
  height: 820px;
  width: 600px;
  display: grid;
  justify-self: center;
  grid-column: 2/3;
  grid-gap: 20px;
  padding: 16px 20px 0 20px;
  background: var(--dark-color);
  border: 1px solid var(--light-color);
}

.tt_form_label {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile__btn {
  margin-top: 200px;
  display: flex;
  gap: 0.5rem;
}

.mat-mdc-fab {
  color: #ffffff;
}

.mat-mdc-extended-fab {
  width: 150px;
}

input.mat-mdc-form-field-input-control::placeholder {
  color: rgba(255, 255, 255, 0.4) !important;
}
