@use '@angular/material' as mat;

:host {
  @include mat.expansion-overrides((
    container-background-color: #090808,
    header-collapsed-state-height: 35px,
    header-expanded-state-height: 35px,
    header-indicator-color: #090808,
    header-focus-state-layer-color: #090808,
    header-hover-state-layer-color: #232f3e,
    header-text-line-height: 24px,
    header-text-size: 17px,
    header-text-font: "JetBrains Mono Bold",
    header-text-color: #FFFFFF,
  ));
}

mat-drawer-content {
  padding: 50px 0;
  height: 100vh;
  width: 100vw;
}

.menu-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--light-color);

  mat-icon {
    margin-right: 8px;
  }

  @include mat.button-overrides((
    filled-state-layer-color: #FFFFFF,
  ));
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.text {
  color: #FFFFFF;
  font-family: 'JetBrains Mono Bold', 'sans-serif';
  font-size: 14px;
}


.sidebar {
  margin-top: 50px;
  width: 300px;
  height: calc(100vh - 50px);
  padding: 20px 0 20px 0;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: var(--dark-color);
  border: 1.2px solid var(--light-color);
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 0 10px 10px 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.sidebar-wrapper.open .sidebar {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 300px;
  width: calc(100% - 300px);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
  pointer-events: none;
  cursor: default;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease, pointer-events 0s ease;
  transition-delay: 0.1s;
}

.sidebar-wrapper.open .overlay {
  display: block;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition-delay: 0.2s;
}

sidebar__inner {
  display: flex;
  flex-direction: column;
}

.sidebar__inner {
  margin: 0 20px;
}

