@use '@angular/material' as mat;

:host {
  @include mat.progress-spinner-overrides((
    size: 100rem,
    active-indicator-width: 100,
    active-indicator-color: blue,
  ));
}

.container {
  max-width: 1210px;
  margin: 0 auto;
}

.inner__wrapper {
  display: grid;
  grid-template-columns: 1fr 600px;
}

.hide {
  display: none;
}

.profile_card__wrapper {
  width: 1200px;
  margin-top: 50px;
  display: grid;
  grid-gap: 8px;
  padding-right: 10px;
  box-sizing: border-box;
}

.profile_card__wrapper.scrollable {
  max-height: 642px;
  overflow-y: scroll;
  padding-right: 0;
  scrollbar-width: revert;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

/* Style for Webkit Browsers (Chrome, Edge, Safari) */
.profile_card__wrapper.scrollable::-webkit-scrollbar {
  width: 10px; /* Adjust the scrollbar width */
}


.place_spinner {
  position: fixed; /* Ensures it covers the viewport */
  top: 50%; /* Moves the spinner to the vertical center */
  left: 50%; /* Moves the spinner to the horizontal center */
  transform: translate(-50%, -50%); /* Adjusts the spinner to be perfectly centered */
  display: flex; /* Enables flexbox layout */
  align-items: center; /* Centers vertically */
  justify-content: center; /* Centers horizontally */
  z-index: 1000; /* Places it above other elements */
}
