<div class="wrapper">
  <table #table mat-table [dataSource]="formArray.controls">

    <!-- Entry Column -->
    <ng-container matColumnDef="entry">
      <th mat-header-cell *matHeaderCellDef>Въезд</th>
      <td mat-cell *matCellDef="let row; let i = index">
        <div *ngIf="asFormGroup(row).hasError('entryBeforePreviousExit')" class="error">
          дата < верхней строки
        </div>
        <div [formGroup]="asFormGroup(row)" class="entry-date-picker-position">
          <input datePickerFieldDirective
                 [matDatepicker]="entryPicker"
                 [datepicker]="entryPicker"
                 formControlName="entry"
                 placeholder="Выберите дату"
                 type="text"
                 class="custom_date_input"
                 [ngClass]="{'disabled': fullNameIsPassed()}">
          <mat-datepicker-toggle matIconSuffix
                                 [for]="entryPicker"
                                 class="entry-date-picker"
          >
          </mat-datepicker-toggle>
          <mat-datepicker #entryPicker></mat-datepicker>
        </div>
      </td>
    </ng-container>

    <!-- Exit Column -->
    <ng-container matColumnDef="exit">
      <th mat-header-cell *matHeaderCellDef>Выезд</th>
      <td mat-cell *matCellDef="let row; let i = index">
        <div *ngIf="asFormGroup(row).hasError('exitBeforeEntry')" class="error">
          укажите дату >= въезду
        </div>
        <div [formGroup]="asFormGroup(row)" class="exit-date-picker-position">
          <input datePickerFieldDirective
                 [matDatepicker]="exitPicker"
                 [datepicker]="exitPicker"
                 formControlName="exit"
                 placeholder="Выберите дату"
                 type="text"
                 class="custom_date_input"
                 [ngClass]="{'disabled': fullNameIsPassed()}"
          >
          <mat-datepicker-toggle matIconSuffix
                                 [for]="exitPicker"
                                 class="exit-date-picker"
          >
          </mat-datepicker-toggle>
          <mat-datepicker #exitPicker></mat-datepicker>
        </div>
      </td>
    </ng-container>

    <!-- Country Column -->
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Страна</th>
      <td mat-cell *matCellDef="let row; let i = index">
        <ng-container [formGroup]="asFormGroup(row)">
          <mat-form-field>
            <mat-select formControlName="country" placeholder="Выберите страну" class="custom_text">
              <mat-option value="ukraine">Украина</mat-option>
              <mat-option value="moldova">Молдова</mat-option>
              <mat-option value="uzbekistan">Узбекистан</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </td>
    </ng-container>

    <!-- Disable Column -->
    <ng-container matColumnDef="disable">
      <th mat-header-cell *matHeaderCellDef>Отслеживать</th>
      <td mat-cell *matCellDef="let row; let i = index">
        <ng-container [formGroup]="asFormGroup(row)">
          <mat-slide-toggle formControlName="disable"></mat-slide-toggle>
        </ng-container>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Удалить</th>
      <td mat-cell *matCellDef="let row; let i = index">
        <ng-container [formGroup]="asFormGroup(row)">
          <button mat-icon-button (click)="deleteRow(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <!-- Table Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"
        [formGroup]="asFormGroup(row)"
        @fadeOut>
    </tr>
  </table>
</div>

<button mat-flat-button
        class="add-button"
        (click)="addRow()"
        [disabled]="dateFormStatus() || fullNameIsPassed()">
  Добавить
</button>
