@font-face {
   font-family: "Amazon Ember";
   src: url('/assets/fonts/AmazonEmberV2-Regular.woff2') format('woff2'),
        url('/assets/fonts/AmazonEmberV2-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
 }
@font-face {
   font-family: 'Amazon Bold';
   src: url('/assets/fonts/AmazonEmberV2-Bold.woff2') format("woff2"),
   url('/assets/fonts/AmazonEmberV2-Bold.woff') format('woff');
}

@font-face {
   font-family: 'Amazon Medium';
   src: url('/assets/fonts/AmazonEmberV2-Medium.woff2') format("woff2"),
   url('/assets/fonts/AmazonEmberV2-Medium.woff') format('woff');
}