@use 'fonts';

:root {
    --dark-color: #090808;
    --border-color: #b4b4bb;
    --background-theme-color: #f2f3f3;
    --hover_disable-color: #545b64;
    --background-button-color: #fff;
    --background-selected-item-color: #f0fbff;
    --disabled-button-border-color: #b4b4bb;
    --disabled-button-color: #8c8c94;
    --light-color: #FFFFFF;
    --link-color: #006ce0;
    --success-green-color: #00802f;
    --warning-yellow-color: #f5dd5d;
    --error-red-color: #db0000;
    --hover-color: #f2f3f3;
    --transparent-color: transparent;
    --font-family-body: "Amazon Ember";
    --font-size-body:14px;
    --line-height-body: 20px;
    --color-body: #0f141a;
    --font-button-link-weigt: 700;
    --font-button-link-size:14px;
    --font-button-letter-spacing: 0.07px;
    --button-height: 28px;
    --button-border-width: 2px;
    --button-line-height-body: 20px;
    --button-padding: 2px 16px;
    --selected-item-border-width: 2px;
    --selected-item-padding: 4px 4px 4px 12px;
    --selected-item-height: 21px;
    --selected-item-font-weight: 400;
    --selected-item-border-color: #aab7b8;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
button,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: "Amazon Ember" !important;
    background-color: var(--background-theme-color);
    line-height: 1;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

button{
    font-family: 'Amazon Ember' !important;
}


// Snackbar global styles
.snackbar-success {
    --mat-sys-inverse-surface: var(--success-green-color);
    --mat-sys-inverse-on-surface: var(--light-color);
}

.snackbar-warning {
    --mat-sys-inverse-surface: var(--warning-yellow-color);
    --mat-sys-inverse-on-surface: var(--dark-color);
}

.snackbar-error {
    --mat-sys-inverse-surface: var(--error-red-color);
    --mat-sys-inverse-on-surface: var(--light-color);
}

